.widgets {
  flex: 0.3;
  max-width: 200px;
  width: fit-content;
  padding: 20px;
}ß

.widgets__input {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  padding-right: 50px;
}

.widgets__results {
  overflow-y: scroll;
  height: 300px;
}