.widgetsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  width: 90%;
  background-color: var(--app-background-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: var(--contents-shadow);
}

.widgetsItem:hover {
  box-shadow: var(--hover-shadow);
}

.widgetsItem:active {
  box-shadow: var(--active-shadow);
}

.widgetsItem__title {
  font-size: 18px;
  font-weight: 800;
  width: 98%;
  overflow: hidden;
}

.widgetsItem__id {
  display: none;
}

