.sidebarHeader > a {
  color: black;
  text-decoration: none;
}

.sidebarHeader__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebarHeader__user {
  margin-bottom: 20px;
  cursor: text;
}

.sidebarHeader__signedOutUser {
  margin-bottom: 20px;
}