.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 90%;
  max-height: 70px;
  border-radius: 15px;
  box-shadow: var(--contents-shadow);
  border: 1px solid var(--button-border);
  margin-bottom: 10px;
  padding-left: 10px;
}

.sidebarOption:hover {
  box-shadow: var(--hover-shadow);
}

.sidebarOption:active {
  box-shadow: var(--active-shadow);
}

.sidebarOption > h2 {
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
}
