.sidebarOption {
  display: flex;
  margin: 10px;
  align-items: center;
  cursor: pointer;
  min-height: 50px;
  max-height: 60px;
  border-radius: 10px;
  background: var(--app-background-color);
}

.sidebarOption:hover {
  background-color: var(--hover-background);
  border-radius: 10px;
  transition: color 100ms ease-out;
  box-shadow: var(--hover-shadow);
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 18px;
  margin-right: 20px;
  padding-left: 10px;
}

.sidebarOption:active {
  background-color: var(--hover-background);
  box-shadow: var(--active-shadow);
}

.sidebarOption--active {
  background-color: var(--hover-background);
  box-shadow: var(--active-shadow);
}
