.canvas {
  flex: 0.4;
  padding-left: 20px;
  padding-right: 20px;
  min-width: fit-content;
  border-right: 1px solid var(--border-color);
}

.canvas__title {
  color: white;
  background-color: deepskyblue;
  border-radius: 5px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.canvas__title > input{
  color: white;
  font-size: 30px;
  background-color: deepskyblue;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.canvas__top {
  height: 90px;
  padding-left: 485px;
}

.canvas__topcontent {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.canvas__contentframe {
  height: 390px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.canvas__content {
  width: 160px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.canvas__contenttitle {
  font-size: 18px;
  font-weight: 800;
}

.canvas__rowcontents {
  width: 170px;
  border-radius: 5px;
}

.canvas__rowupper {
  height: 180px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 2px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.canvas__rowlower {
  height: 180px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.field__canvascostsframe {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.canvas__costcontent {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 120px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.canvas__topcontentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 390px;
  max-width: 390px;
  min-height: 40px;
  max-height: 40px;
}

.canvas__contentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 160px;
  max-width: 160px;
  min-height: 345px;
  max-height: 345px;
}

.canvas__rowcontentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 140px;
  max-width: 140px;
  min-height: 150px;
  max-height: 150px;
}

.canvas__costcontentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 425px;
  max-width: 425px;
  min-height: 90px;
  max-height: 90px;
}
