.canvas {
  width: 900px;
  padding: 20px;
  flex: 0.4;
  min-width: fit-content;
}

.canvas__top {
  height: 90px;
  padding-left: 485px;
}

.canvas__topcontent {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 410px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.canvas__contentframe {
  height: 430px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.canvas__content {
  width: 170px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.canvas__contenttitle {
  font-size: 18px;
  font-weight: 800;
}

.canvas__rowcontents {
  width: 170px;
  border-radius: 5px;
}

.canvas__rowupper {
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 2px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.canvas__rowlower {
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.field__canvascostsframe {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.canvas__costcontent {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 120px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.canvas__topcontentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 400px;
  max-width: 400px;
  min-height: 20px;
  max-height: 50px;
}

.canvas__contentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 160px;
  max-width: 160px;
  min-height: 20px;
  max-height: 380px;
}

.canvas__rowcontentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 140px;
  max-width: 140px;
  min-height: 20px;
  max-height: 170px;
}

.canvas__costcontentdescription {
  border: none;
  font-size: 13px;
  margin-top: 5px;
  min-width: 425px;
  max-width: 425px;
  min-height: 20px;
  max-height: 100px;
}
